@model IEnumerable<BlogHostCore.DomainModels.Post>
@{
    Layout = "~/Views/_LayoutHeader.cshtml";
}

@using Microsoft.AspNetCore.Mvc.Localization;
@inject IViewLocalizer Localizer;
<div class="container mt-5">
    <div class="row">
        @if (Model != null)
        {
            @foreach (var post in Model)
            {
                <div class="card " style="width: 18rem;">
                    <div class="card-header">@post.Title</div>
                    <div class="card-body">
                        <h5 class="card-text">@Localizer["Username"]: @post.AuthorName</h5>
                        <h6 class="card-text">@Localizer["Date"]: @post.DateCreation</h6>
                        <a class="btn btn-dark" asp-action="Show" asp-controller="Post" asp-route-id=@post.Id>@Localizer["Show"]</a>
                    </div>
                </div>
            }
        }
        else
        {
                <h3 class="text-center">@Localizer["Not"]</h3>
        }
    </div>
</div>