@model BlogHostCore.DomainModels.Post;
@{
    Layout = "~/Views/_LayoutHeader.cshtml";
}
@using SupportLibrary.Extension;
@using BlogHostCore.DomainModels.PostElements;
<div class="container">
    <h1 class="text-center" id="post_title">@Model.Title</h1>
    <h2 class="text-primary" id="user_host">User: @Model.AuthorName</h2>
    <div class="container">
        <p>@Model.DateCreation</p>
    </div>
    <div class="container">
        @if (AccessExtension.CheckRole(User.IsInRole, "Admin", "Moder") || User.Identity.Name == Model.AuthorName)
        {
            <form method="post">
                    <div class="col-sm-4">
                        <a class="btn btn-warning btn-block" asp-action="RemovePost" asp-route-id=@Model.Id>Remove</a>
                    </div>
            </form>
        }
    </div>
    <div class="container">
        @foreach (var tag in Model.Tags)
        {
            <a class="badge badge-primary" asp-action="SearchByTag" asp-route-tag=@tag>@tag</a>
        }
        </div>
        @foreach (var element in Model.Elements)
        {
            if (element is TextElement text)
            {
                <p>@text.GetContentInfo()</p>
            }
            if (element is ImageElement image)
            {
                <img src="~/files/@image.GetContentInfo().Replace(@"//", @"/")" />
            }
        }
    </div>
<div class="container">
    @if (User.Identity.IsAuthenticated)
    {
        <form method="post" asp-controller="Post" asp-action="SendComment">
            <div class="form-group container">
                <label>Comment:</label>
                <textarea class="form-control" rows="5" name="message"></textarea>
                <input type="hidden" name="id" value=@Model.Id />
            </div>
            <div class="form-group container">
                <button class="btn btn-primary col-md-4" id="send_comments">Post</button>
            </div>
        </form>
    }
</div>
<div class="container">
    <h1>Comments</h1>
    @if (Model.Comments != null)
    {
        <div class="container">
            @foreach (var comment in Model.Comments)
            {
                <div class="container form-group-sm">
                    <p>Name: @comment.UserName Date: @comment.DateCreation</p>
                    <p>@comment.Message</p>
                    <div class="col-lg-2">
                        @if (User.Identity.Name == comment.UserName || AccessExtension.CheckRole(User.IsInRole, "Admin", "Moder"))
                        {
                            <a class="btn btn-danger btn-sm" asp-action="RemoveComment" asp-route-id=@comment.Id asp-route-postId=@Model.Id>Remove</a>
                        }
                    </div>
                </div>
            }
        </div>
    }
</div>
