@model BlogHostCore.DomainModels.Blog
@{
    ViewData["Title"] = "Edit";
    Layout = "~/Views/_LayoutHeader.cshtml";
}
@using Microsoft.AspNetCore.Mvc.Localization;
@inject IViewLocalizer Localizer;
<div class="container">
    <h1 class="text-center title">@Localizer["TitlePage"]</h1>
    <form method="post" asp-action="Edit" asp-controller="Blog">
        <p>
            <label asp-for="Title">@Localizer["Title"]</label>
            <input type="text" class="form-control" asp-for="Title" />
        </p>
        <p>
            <label asp-for="Description">@Localizer["Desc"]</label>
            <textarea class="form-control" rows="5" placeholder="@Localizer["EntDesc"]" asp-for="Description"></textarea>
        </p>
        <p>
            <button class="btn btn-dark col-md-4">@Localizer["Edit"]</button>
        </p>
    </form>
</div>

