@model Web.ViewModels.LoginModel
@using Microsoft.AspNetCore.Mvc.Localization;
@inject IViewLocalizer Localizer;

<div class="container">
    <div class="navbar-header">
        <a asp-action="NotLoginIndex" asp-controller="Home" class="navbar-brand text-white">Just Read Me</a>
    </div>
    <h2 class="page-header text-center header">@Localizer["Title"]</h2>

    <form asp-action="Login" asp-controller="Account" asp-antiforgery="true" role="form">
        <div class="validation" asp-validation-summary="ModelOnly"></div>
        <div>
            <div class="form-group">
                <label asp-for="Email">@Localizer["Email"]</label>
                <input type="email" asp-for="Email" class="form-control" id="email" placeholder="@Localizer["EnterEmail"]" />
                <span asp-validation-for="Email" />
            </div>
            <div class="form-group">
                <label asp-for="Passwords">>@Localizer["Password"]</label>
                <input asp-for="Passwords" type="password" class="form-control" id="password" placeholder="@Localizer["EnterPassword"]" />
                <span asp-validation-for="Passwords" />
            </div>
            <div class="form-group">
                <input type="submit" value="@Localizer["LoginButton"]" class="btn btn-block bg-dark text-white" />
                <a asp-action="Register" asp-controller="Account" class="btn bg-dark btn-block text-white">@Localizer["Reg"]</a>
            </div>
        </div>
    </form>
</div>
