@using BlogHostCore.DomainModels
@using BlogHostCore.Interfaces.Repository
@model BlogHostCore.DomainModels.UserInfo
@{
    Layout = "~/Views/_LayoutHeader.cshtml";
}
@using Microsoft.AspNetCore.Mvc.Localization;
@inject IViewLocalizer Localizer;

<div class="container">
    <h1 class="text-center title">@Localizer["Place"]</h1>
    <h2>@Localizer["Name"]: @Model.Nickname</h2>
    <h2>@Localizer["Email"]: @Model.Email</h2>
    <h2>@Localizer["Role"] @Model.Role</h2>

</div>
