@addTagHelper "*, Web"
@{
    Layout = "_Layout";
}
@using Microsoft.AspNetCore.Mvc.Localization;
@inject IViewLocalizer Localizer;

<nav class="navbar navbar-expand navbar-dark bg-dark">

    <div class="container collapse navbar-collapse">
        <a class="navbar-brand" asp-controller="Home" asp-action="Index">Just Read Me</a>

        @if (User.Identity.IsAuthenticated)
        {
            <div class="navbar-header">
                <ui class="nav navbar-nav">
                    <menu-component><a class="nav-link" asp-action="Index" asp-controller="Post">@Localizer["PostItem"]</a></menu-component>
                    <menu-component><a class="nav-link" asp-action="Index" asp-controller="Blog">@Localizer["BlogItem"]</a></menu-component>
                    <menu-component><a class="nav-link" asp-action="UserInfo" asp-controller="Account">@Localizer["UserItem"]</a></menu-component>
                </ui>
            </div>
        }
        <div class="navbar-header">
            <form class="navbar-form navbar-left" role="search" method="get">
                <div class="form-inline">
                    <input type="text" name="tag" class="form-control mr-sm-2" placeholder="@Localizer["SearchText"]">
                    <button type="submit" class="btn btn-default" asp-controller="Post" asp-action="SearchByTag"><span class="glyphicon glyphicon-search"></span>@Localizer["SearchButton"]</button>
                </div>
            </form>
        </div>
        @if (User.Identity.IsAuthenticated && User.IsInRole("Admin"))
        {
            <div class="navbar-header">
                <ui class="nav navbar-nav">
                    <li>
                        <a class="nav-link" asp-action="RolliesControl" asp-controller="Account">@Localizer["RoliesItem"]</a>
                    </li>
                </ui>
            </div>
        }
        <div class="pull-right">
            @if (User.Identity.IsAuthenticated)
            {
                <form class="navbar-form">
                    <a asp-action="Logout" asp-controller="Account" class="btn btn-danger">@Localizer["LogoutButton"]</a>
                </form>
            }
            else
            {
                <form class="navbar-form">
                    <a asp-action="Register" asp-controller="Account" class="btn btn-danger">@Localizer["RegisterButton"]</a>
                    <a asp-action="Login" asp-controller="Account" class="btn btn-primary">@Localizer["LogInButton"]</a>
                </form>
            }
        </div>
    </div>

</nav>
<div>
    @RenderBody()

</div>

